---
---

@import "minimal-mistakes";

/* Markdown content padding fix */
.page__content {
  padding-left: 40px;
  padding-right: 40px;
}

@media (min-width: 768px) {
  .page__content {
    padding-left: 80px;
    padding-right: 80px;
  }
}
